.header {
  background: #222;
  padding: 30px;
  color: #fff;
  position: sticky;
  top: 0;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  gap: 30px;
  color: var(--blue-bell);
}

.header ul a {
  color: #fff;
  font-weight: bold;
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: var(--blue-bell);
}

.link {
  background-color: var(--imperial);
}
