@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #444;
  color: #f2f2f2;
}

.main {
  margin: 30px 0;
}

.container {
  max-width: 768px;
  padding: 50px 15px;
  margin: 0 auto;
}

.pageTitle {
  font-size: 30px;
  font-weight: bold;
}
