:root {
  --jigllypuff: #ff9ff3;
  --lotus-pink: #f368e0;
  --casandora-yellow: #feca57;
  --double-dragon-skin: #ff9f43;
  --pastel-red: #ff6b6b;
  --amour: #ee5253;
  --megaman: #48dbfb;
  --caribbean-green: #1dd1a1;
  --dark-mountain: #10ac84;
  --jade-dust: #00d2d3;
  --aqua-velvet: #01a3a4;
  --cyanite: #0abde3;
  --joust-blue: #54a0ff;
  --bleu-de-france: #2e86de;
  --nasu-purple: #5f27cd;
  --blue-bell: #341f97;
  --fuel: #576574;
  --ballerina: #c8d6e5;
  --storm: #8395a7;
  --imperial: #222f3e; 
}