.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signin div {
  height: calc(100vh - 200px);
  background: linear-gradient(to bottom right, #aae6ff, rgb(122, 107, 125));
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 1000px;
  color: #000;
}

.signin div h2 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}
